/*Desktop Only*/
@media only screen and (min-width: 768px){
  .col-1{width:8.33%;}
  .col-2{width:16.66%;}
  .col-3{width:25%;}
  .col-4{width:33.33%;}
  .col-5{width:41.66%;}
  .col-6{width:50%;}
  .col-7{width:58.33%;}
  .col-8{width:66.66%;}
  .col-9{width:75%;}
  .col-10{width:83.33%;}
  .col-11{width:91.66%;}
  .col-12{width:100%;}
  
  
  #topNav a:nth-child(2), #topNav a:nth-child(4){
    display: inline-block;
  }
  
  #topNav a:last-child {
    display:none;
  }
  
  #sideNav{
    display:block;
    position:fixed;
    left: 0;
    top: 66px;
    bottom: 0;
    width: 250px;
    background-color: goldenrod;
    color: snow;
  }
  
  #sideNav h2{
    font-size: 20px;
    font-weight: 400;
    padding: 8px 16px;
    margin: 10px 0;
  }
  
  #sideNav a{
    display: block;
    padding: 8px 16px;
    font-size: 18px;
    text-decoration: none;
    color: black;
  }
  
  #sideNav a:hover{
    background-color: white;
    color: gold;
  }
  
  main > section{
    position:fixed;
    left: 250px;
    height:100%;
    overflow-y: scroll;
    z-index: -1;
    padding:0;
  }
  main section article{
    padding-left:0;
    padding-right:0;
  }
  #topNav3 {
    padding: 5px;
    background-color: #fde672;
    position: relative;
    top: 66px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
    left: 250px;
  }
  #topNav3 div{
    text-align: center;
    margin: 0 10px;
  }
  
}
