/* Tablet View */
@media only screen and (min-width: 600px) {
  .col-m-1 {
    width: 8.33%;
  }
  .col-m-2 {
    width: 16.66%;
  }
  .col-m-3 {
    width: 25%;
  }
  .col-m-4 {
    width: 33.33%;
  }
  .col-m-5 {
    width: 41.66%;
  }
  .col-m-6 {
    width: 50%;
  }
  .col-m-7 {
    width: 58.33%;
  }
  .col-m-8 {
    width: 66.66%;
  }
  .col-m-9 {
    width: 75%;
  }
  .col-m-10 {
    width: 83.33%;
  }
  .col-m-11 {
    width: 91.66%;
  }
  .col-m-12 {
    width: 100%;
  }

  #topNav a {
    display: inline-block;
  }

  #topNav a:nth-child(2),
  #topNav a:nth-child(4) {
    display: none;
  }
  #topNav a:hover {
    background-color: #9e7e38; /* Updated to gold */
    color: black;
  }
  #topNav3 {
    padding: 5px;
    background-color: #9e7e38;
    color: white;
    position: relative;
    top: 66px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
    left: 0;
    right: 0;
  }

  #topNav3 div {
    text-align: center;
    margin: 0 10px;
  }
}
